<mat-toolbar color="primary">
   <button mat-icon-button class="example-icon ml-3" aria-label="Example icon-button with menu icon" (click)="toggle()">
     <mat-icon>menu</mat-icon>
   </button>
   <button mat-icon-button>
      <mat-icon color="accent">clean_hands</mat-icon>
   </button>
   <button mat-icon-button>
      <mat-icon>person</mat-icon>
   </button>
   <div fxFlex fxLayout="row" fxLayoutAlign="end center">
      <ul fxLayout="row" fxLayoutGap="10px">
         <li>
            <button mat-icon-button>
               <mat-icon>search</mat-icon>
            </button>
         </li>
         <li>
            <button mat-icon-button>
               <mat-icon>flag</mat-icon>
            </button>
         </li>
         <li>
            <button mat-icon-button>
               <mat-icon>fullscreen</mat-icon>
            </button>
         </li>
         <li>
            <button mat-icon-button>
               <mat-icon>apps
               </mat-icon>
            </button>
         </li>
         <li>
            <button mat-icon-button>
               <mat-icon>notifications
               </mat-icon>
            </button>
         </li>
         <li>
            <button mat-icon-button>
               <mat-icon>account_circle
               </mat-icon>
            </button>
         </li>
      </ul>
   </div>
 </mat-toolbar>
 