<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
   <mat-card fxFlex="25">
      <app-cards label="Used" persentage="37%"></app-cards>
   </mat-card>

   <mat-card fxFlex="25">
      <app-card-area label="Student" persentage="56%"></app-card-area>
   </mat-card>

   <mat-card fxFlex="25">
      <app-cards label="Admin" persentage="77%"></app-cards>
   </mat-card>

   <mat-card fxFlex="25">
      <app-card-area label="Teacher" persentage="86%"></app-card-area>
   </mat-card>
   
</div><br>

<div>
   <app-middle></app-middle>
</div>
<br>
<div>
   <app-last></app-last>
</div>